<!DOCTYPE html>
<html>
    <head>
        <title>
            
            create memories with photos
        </title>
    </head>
    <body style="background-color: antiquewhite;">
        
            <h1 style="text-align: center; color: cadetblue;">
                SHOOT ON
                </h1>
              <h2 style="text-align:center; color: darkslategray;">  
            Create memories with photos
        </h2>
        
        
               <h3 style="text-align: center; color: crimson;">
                Moments lasts but Memories don`t, Live in the moment. 
        
               </h3>
        
        <div style="display: flex; align-items: center; justify-content: center;">
            <img src="../assets/images1.jpg" width="600" height="500">
        </div>

        <!-- <a href="http://127.0.0.1:5500/q2.html"> move to next page</a> -->

       

        
        
    </body>
</html>